{% extends "layouts/main.html" %}

{% block body %}
<article>
	<div>
		<h2>Hello and welcome!</h2>
		<p>
			This self titled website serves as my personal and professional
			blog. Here I catalog my learnings, and file away useful tid-bits for next time
		</p>
		<p>
			This site is largely for personal use, but if you find yourself here I hope you also
			find it helpful. :) If you have any questions regarding the content you find here
			please don't hesitate to <a href="/contact">contact</a> me!
		</p>
	</div>
	<div class="col-300-px centered" style="float:none">
		<canvas id="doodle" class="centered framed square-300" width=300 height=300>
			<img src="http://www.adweek.com/files/imagecache/node-blog/totinos-stock-06-2014.jpg"/>
		</canvas>
		<script type="text/javascript" src ="js/doodles/0.js"></script>
		<script type="text/javascript">
			doodleInit(document.getElementById('doodle'));
		</script>
	</div>
</article>
<div class="clearfix"></div>
{% endblock %}
